# Examples
Input:
### Added files:
['bottapp/README.md', 'bottapp/app.py']

### Deleted files:
[]

### Modified files:
['bottapp/README.md', 'bottapp/app.py']

### Current .gitignore Content
(empty)

Expected Output:
(empty)